<%- include('../partials/html_header.ejs') %>
<div class="row">
  <div class="col-md-12">
    <%- include('../partials/nav.ejs') %>
    <h2><%= pageTitle %></h2>
    <%- include('../partials/alert.ejs') %>
    <p><%= body %></p>
    <% if(isLogged) { %>
    <p>Welcome user <%= user.name %>!</p>
    <!-- <p>
      <a href="/logout" class="btn btn-primary">Logout</a>
    </p> -->
    <% } %>
  </div>
</div>
<%- include('../partials/html_footer.ejs') %>
