<%- include('../partials/html_header.ejs') %>
<div class="row">
    <div class="col-md-12">
        
        <h2>
            <%= pageTitle %>
        </h2>
        <%- include('../partials/alert.ejs') %>
        <p>
            <%= body %>
        </p>

        <p>
            Please click <a href="/register">here</a> to register.
        </p>
    </div>
</div>
<%- include('../partials/html_footer.ejs') %>
